*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 193);
    background-image: linear-gradient(to bottom, #9c6e4e,  #a57753, #d8a975);
}
header{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #926448;
    font-size: 1.3rem;
    color: rgb(245, 255, 218);
    font-weight: 800;
    padding: 20px;
    border-bottom: 2px solid #7e5236;
}

/* Dialog box styling */
#my-dialog{
    margin: auto;
    position: relative;
    background-color: #e3b47c;
    border: 2px solid #9c6e4e;
    border-radius: 20px;
}
#dialogCloseButton{
    position: absolute;
    right: 0;
    top: 0px;
    
}
h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #4c1d00;
}
.data{
    padding: 3px;
    margin-left: 20px;
    color: #fff2ea;
}
label{
    color: #000000;
    padding: 0px 10px;
    font-size: 1.3rem;
}
input{
    background-color: rgb(255, 255, 239);
    border: 2px solid #9c6e4e;
    color: #4c1d00;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 20px;
}
.formData{
    padding: 15px;

}
#addBook{
    margin-bottom: 50px;
    display: flex;
    justify-self: center;

}
#submitForm{
    display: flex;
    justify-self: center;
    margin: 20px;
}
#dialogCloseButton{
    margin: 5px;
}
.removeBook{
    margin-top: 10px;
    margin-left: 10px;
}
.button{
    padding: 10px;
    border: 2px solid #976540;
    background-image: linear-gradient(to bottom, #e3b47c, #926448);
    border-radius: 10px;
    color: #fff2ea;
    font-weight: 600;
}
.button:hover{
    /* transform: scale(1.05); */
    padding: 10px;
    border: 2px solid #976540;
    background-image: linear-gradient(to bottom,#926448,  #e3b47c);
    cursor: pointer;
}

/* Book Box Styling */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 80vh;
    overflow-y: auto;
}
.bookBox{
    background-image: linear-gradient(to top,#b08968, #9c6644);
    min-height: 60vh;
    border: 2px solid #7f5539;
    width: 20vw;
    width: 20vw;
    border-radius: 20px;
    margin: 20px;
    
}

.bookBox > img{
    display: flex;
    justify-self: center;
    width: 10vw;
    margin: 10px;
    border: 1px solid black;
}
.bookBox > .unread{
    display: flex;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
    .removeBook{
        margin-top: 0px;
        margin-left: 0px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .data{
        padding: 3px;
    }
    .bookBox{
        padding: 10px;
        min-height: 10vh;
        width: 40vw;
        margin: 20px;
    }
    .bookBox > img{
        display: flex;
        justify-self: center;
        width: 35vw;
    }
    
}
@media screen and (max-width: 460px) {
    .removeBook{
        margin-top: 0px;
        margin-left: 0px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .data{
        padding: 3px;
    }
    .bookBox{
        padding: 10px;
        min-height: 10vh;
        width: 70vw;
        margin: 20px;
        box-sizing: border-box;
    }
    .bookBox > img{
        display: flex;
        justify-self: center;
        width: 60vw;
    }
    
}
.noBook{
    color: rgb(245, 255, 218);
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: #9c6e4e;
    font-size: 1rem;
    color: rgb(245, 255, 218);
    font-weight: 400;
    padding: 5px;

}


/* ---- For Dark Theme ---- */
.mode{
    z-index: 2;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 20px;
    min-width: 70px;
    min-height: 35px;
    background-color: #ccbab2;
}

.darkModeButton{
    background-color: #ffe3d0;
}
.mode{
    background-color: #ffede4;
}

.ball{
    z-index: 2;
    position: fixed;
    top: 12px;
    right: 13px;
    background-color: #7f5539;
    padding: 10px;
    border-radius: 20px;
    min-width: 11px;
    min-height: 11px;
    animation: changeModeToLight 2s cubic-bezier(0.22, 0.74, 0.73, 0.34) alternate;
}
.darkMode{
    animation: changeModeToDark 2s cubic-bezier(0.22, 0.74, 0.73, 0.34) alternate;
    right: 45px;
    background-color: #251c17;

}

@keyframes changeModeToDark {
    0%{
        right: 10px;
        background-color: #C4A484 ;
    }
    20%{
        right: 45px;
        background-color: #251c17;
    }
}
@keyframes changeModeToLight {
    0%{
        right: 45px;
        background-color: #251c17;
    }
    20%{
        right: 10px;
        background-color: #fff2e4 ;
    }
}
.darkHead{
    background-color: #251c17;
    color: #ccbab2;
}
.darkContainer{
    background-image: linear-gradient(to bottom, #251c17,  #31251f, #734f38);   
}
.darkDialog{
    background-image: linear-gradient(to bottom, #260701,  #532c1e);   
    color: #edc4b3;
}
.darkHeading , .darkFormData > label {
    color: #edc4b3;
}
.darkFormData > input {
    border: 2px solid #edc4b3;
    color: #edc4b3;
    background-color: #260701;
}
.darkFooter{
    background-color: #251c17;
    color: #ccbab2;
}
.darkButton{
    border: 2px solid #633c0b;
    background-image: linear-gradient(to bottom, #8b5e34, #583101);
    color: #fff2ea;
}
.darkButton:hover{
    /* transform: scale(1.05); */
    border: 2px solid #714a19;
    background-image: linear-gradient(to top, #8b5e34, #583101);
}
.darkBookBox{
    background-image: linear-gradient(to bottom, #735647,  #31251f);   
    color: #deab90;
    
}

/* ScrollBar modification */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #523726 ;
}
::-webkit-scrollbar-thumb {
  background: #d4af96;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ebcfbc;
}
